<!-- Liste de tous les hôtels en partenariat avec nous!-->
<div class="container">
    <h1>Our partner hotels</h1>

    <div class="nav-search">
        <h3>Filter by city to reach your destination faster</h3>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            City
          </a>
          <ul class="dropdown-menu"> 
            <h2>Île-de-France</h2>
            <li><a class="dropdown-item" href="#">Paris</a></li>
            <li><hr class="dropdown-divider"></li>
            <h2>Auvergne-Rhône-Alpes</h2>
            <li><a class="dropdown-item" href="#">Lyon</a></li>
            <li><a class="dropdown-item" href="#">Saint-Étienne</a></li>
            <li><a class="dropdown-item" href="#">Clermont-Ferrand</a></li>
            <li><a class="dropdown-item" href="#">Annecy</a></li>
            <li><hr class="dropdown-divider"></li>
            <h2>Provence-Alpes-Côte d'Azur</h2>
            <li><a class="dropdown-item" href="#">Marseille</a></li>
            <li><a class="dropdown-item" href="#">Toulon</a></li>
            <li><a class="dropdown-item" href="#">Nice</a></li>
            <li><a class="dropdown-item" href="#">Aix-en-Provence</a></li>
            <li><hr class="dropdown-divider"></li>
            <h2>Occitanie</h2>
            <li><a class="dropdown-item" href="#">Montpellier</a></li>
            <li><a class="dropdown-item" href="#">Toulouse</a></li>
            <li><a class="dropdown-item" href="#">Nîmes</a></li>
            <li><a class="dropdown-item" href="#">Perpignan</a></li>
            <li><hr class="dropdown-divider"></li>  
            <h2>Nouvelle-Aquitaine</h2>
            <li><a class="dropdown-item" href="#">Bordeaux</a></li>
            <li><a class="dropdown-item" href="#">Limoges</a></li>
            <li><hr class="dropdown-divider"></li>
            <h2>Bretagne</h2>
            <li><a class="dropdown-item" href="#">Brest</a></li>
            <li><a class="dropdown-item" href="#">Rennes</a></li>
            <li><hr class="dropdown-divider"></li>
            <h2>Grand Est</h2>
            <li><a class="dropdown-item" href="#">Strasbourg</a></li>
            <li><a class="dropdown-item" href="#">Reims</a></li>
            <li><a class="dropdown-item" href="#">Nancy</a></li>
            <li><hr class="dropdown-divider"></li>
            <h2>Hauts-de-France</h2>
            <li><a class="dropdown-item" href="#">Lille</a></li>
            <li><hr class="dropdown-divider"></li>
            <h2>Normandie</h2>
            <li><a class="dropdown-item" href="#">Le Havre</a></li>
            <li><a class="dropdown-item" href="#">Rouen</a></li>
            
            
            
          </ul>
        </li>

    </div>
    
   <!-- Fiche Hôtel -->
   <div class="hotel-detail">
    
   </div>
</div>