<div class="container">
    <h1>Available hotels</h1>
    <form [formGroup]="searchForm" (ngSubmit)="searchHotels()" class="d-flex" role="search" id="searchForm" action="/hotel-search" method="GET">

        <div class="Form-group">
            <label for="ville">City:</label>
            <input type="text" id="ville" name="ville" class="form-control" formControlName="ville" placeholder="Enter the city">
            @if (searchForm.get('ville')?.invalid && searchForm.get('ville')?.touched) {
  <div class="text-danger">
    Please enter a valid city.
  </div>
}
        </div>
        <div class="Form-group">
            <label for="codePostal">Postal code:</label>
            <input type="text" id="codePostal" name="codePostal" class="form-control" formControlName="codePostal" placeholder="Enter the postal code">
            @if (searchForm.get('codePostal')?.invalid && searchForm.get('codePostal')?.touched) {
  <div class="text-danger">
    Please enter a valid postal code (5 digits).
  </div>
}
        </div>
        <div class="Form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" class="form-control" formControlName="date">
            @if (searchForm.get('date')?.invalid && searchForm.get('date')?.touched) {
  <div class="text-danger">
    Please select a valid date.
  </div>
}
        </div>
        <div class="Form-group">
  <label for="personnes">Number of guests:</label>
  <input type="number" id="personnes" name="personnes" class="form-control" formControlName="personnes" placeholder="Enter the number of guests">
  @if (searchForm.get('personnes')?.invalid && searchForm.get('personnes')?.touched) {
    <div class="text-danger">
      Please enter a valid number of guests (1 or more).
    </div>
  }
</div>

        <button class="btn btn-outline-success" id="searchButton" type="submit" (click)="searchHotels()">Search</button>

    </form>

    <div class="content">
        <div class="block">
            <img src="../../../assets/images/hotel1.jpg" alt="Hotel 1" class="hotel-image"/>
        </div>
        <div class="block">
            <h1>Name$hotel</h1>
            <p>Location$hotel</p>
            <h3><strong>Price$hotel</strong></h3>
            <p>Description$hotel</p>
            <p>Rating$hotel</p>
            <button class="btn btn-primary">View details</button>
        </div>

    </div>
</div>
